<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="alytvyniuk.com.barcodewidget">

    <uses-feature android:name="android.hardware.camera"
                  android:required="true"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
            android:allowBackup="true"
            android:name=".App"
            android:icon="@drawable/temp_ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@drawable/temp_ic_launcher"
            android:supportsRtl="true"
            android:theme="@style/AppTheme.NoActionBar"
            tools:ignore="GoogleAppIndexingWarning">
        <receiver android:name=".BarcodeWidgetProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
            <meta-data android:name="android.appwidget.provider"
                       android:resource="@xml/barcode_widget_info"/>
        </receiver>
        <activity
                android:name=".CaptureActivity"
                android:screenOrientation="portrait"
                android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data
                        android:mimeType="image/*"
                        android:scheme="content"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".PreviewActivity"
                android:screenOrientation="portrait"
                android:label="@string/app_name"
                android:theme="@style/AppTheme.Dialog"/>
        <activity
                android:name=".EditActivity"
                android:screenOrientation="portrait"
                android:label="@string/edit_and_save"/>
        <activity
                android:name=".ListActivity"
                android:screenOrientation="portrait"
                android:label="@string/saved_codes"/>
        <activity
                android:name=".AboutActivity"
                android:screenOrientation="portrait"
                android:label="@string/about"/>
        <provider
                android:name="androidx.core.content.FileProvider"
                android:authorities="${applicationId}.fileprovider"
                android:exported="false"
                android:grantUriPermissions="true">
            <meta-data
                    android:name="android.support.FILE_PROVIDER_PATHS"
                    android:resource="@xml/file_paths"/>
        </provider>
        <service
                android:name=".WidgetUpdateService"
                android:permission="android.permission.BIND_JOB_SERVICE"
                android:exported="true"/>
    </application>

</manifest>